$primary-green: #65c083;
$primary-orange: #f2865d;
$primary-blue: #23b7a4;

@font-face {
	font-family: Gilroy;
	src: url(../font/Gilroy-Regular.woff);
	font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.3rem;
	&-thumb {
		background-color: $primary-orange;
	}
	&-track {
		background-color: $primary-green;
	}
}

body {
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

button {
	border: transparent;
}

.v-height-80 {
	min-height: 90vh;
}

.button-white {
	background-color: white;
	font-size: 1.25rem;
	color: $primary-green;
	border-radius: 0.5rem;
	padding: 0.75rem 1.5rem;
	transition: ease-in-out 0.3s;
	&:hover {
		color: white;
		background-color: $primary-orange;
	}
}
.button-blue {
	background-color: $primary-blue;
	color: white;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	transition: ease-in-out 0.3s;
	&:hover {
		color: white;
		background-color: $primary-orange;
	}
}

.form {
	background-color: white;
	padding: 1.5rem;
	label {
		color: grey;
		text-transform: uppercase;
	}
	.form-control {
		background-color: rgba(243, 243, 243, 0.308);
	}
}

header {
	.navbar {
		color: $primary-green;
		&-brand {
			img {
				max-height: 40px;
			}
		}
		.nav-link {
			color: inherit;
			font-size: 1.25rem;
			margin: auto 1rem;
			&.active,
			&:hover {
				position: relative;
				&::after {
					content: "";
					z-index: 5;
					position: absolute;
					bottom: -0.1rem;
					left: 50%;
					transform: translateX(-50%);
					height: 3px;
					width: 3rem;
					background-color: $primary-orange;
				}
			}
		}
		&.bg-white {
			.navbar-brand {
				color: $primary-green;
				font-size: 1.5rem;
				font-weight: bolder;
			}
		}
		.fas,
		.navbar-toggler:focus {
			color: $primary-green;
			outline: none;
		}
	}
	min-height: 100vh;
	background-image: url(http://localhost/deligo/assets/img/header.png);
	background-position: center;
	background-size: cover;
	color: white;
	.header-title {
		font-family: "Gilroy";
		font-size: 3rem;
		font-weight: normal;
		line-height: 4rem;
	}
	.header-desc {
		font-family: "Gilroy";
		font-weight: normal;
		font-size: 1.5rem;
	}
}

#about {
	padding: 5rem 0 3rem;
	font-weight: 700;
	color: $primary-green;
	.about-mascot {
		max-width: 400px;
	}
}

#benefits {
	padding: 3rem 0;
	background-color: #65c083;
	color: white;
	.benefit-title {
		margin-left: 5rem;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background-color: white;
			top: 50%;
			left: -1rem;
			transform: translateY(-50%);
			width: 0.5rem;
			height: 50%;
		}
	}
	.benefit-icon {
		max-width: 200px;
	}
	.benefit-desc {
		font-size: 1.5rem;
	}
}

#locations {
	padding: 5rem 0 3rem;
	color: $primary-green;
	.location-title {
		margin-left: 5rem;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background-color: $primary-green;
			top: 50%;
			left: -1rem;
			transform: translateY(-50%);
			width: 0.5rem;
			height: 50%;
		}
	}
	.locations-image {
		position: relative;
		max-width: 300px;
		img {
			width: 100%;
			transition: ease 0.5s;
			filter: brightness(1);
		}
		.location-desc {
			font-weight: bold;
			opacity: 0;
			color: $primary-green;
			position: absolute;
			top: 0;
			left: 0;
			padding: 1.5rem;
			transition: ease 0.5s;
		}
		&:hover {
			img {
				filter: brightness(0.3);
			}
			.location-desc {
				top: 50%;
				transform: translate(0, -50%);
				opacity: 1;
			}
		}
	}
}

#partners {
	padding: 3rem 0;
	background-color: #65c083;
	color: white;
	.partner-title {
		margin-left: 5rem;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background-color: white;
			top: 50%;
			left: -1rem;
			transform: translateY(-50%);
			width: 0.5rem;
			height: 50%;
		}
	}
	.partner-img {
		width: auto;
		height: 100px;
	}
}

#contacts {
	padding: 5rem 0 0;
	.contact-title {
		color: black;
		margin-left: 5rem;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background-color: grey;
			top: 50%;
			left: -1rem;
			transform: translateY(-50%);
			width: 0.5rem;
			height: 50%;
		}
	}
	.contact-content {
		padding: 3rem 0;
		background-color: #65c083;
		color: white;
	}
}

#registration {
	padding: 3rem 0 0;
	.registration-title {
		color: black;
		margin-left: 5rem;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background-color: grey;
			top: 50%;
			left: -1rem;
			transform: translateY(-50%);
			width: 0.5rem;
			height: 50%;
		}
	}
	.registration-content {
		padding: 3rem 0 0;
		background-color: $primary-orange;
		color: white;
	}
	.registration-link {
		transition: ease-in-out 0.3s;
		&:hover {
			color: $primary-blue;
		}
	}
}

@media screen and (max-width: 992px) {
	* {
		font-size: 12px;
	}
	header {
		.navbar {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: 1030;
			background-color: white;
			&-brand {
				color: $primary-green;
				font-size: 1.75rem;
				font-weight: bolder;
				margin-left: 1rem;
			}
			&-nav {
				background-color: white;
			}
			&.bg-white {
				.navbar-brand {
					color: $primary-green;
					font-size: 1.75rem;
					font-weight: bolder;
					margin-left: 1rem;
				}
			}
		}
	}
	#about {
		.about-mascot {
			max-width: 300px;
		}
	}
	#locations {
		.location-img {
			width: 100%;
		}
	}
	#partners {
		.partner-img {
			width: auto;
			height: 100px;
		}
	}
}

@media screen and (max-width: 576px) {
	#benefits {
		.benefit-title {
			text-align: center;
			margin-left: 0;
			position: relative;
			&::after {
				display: none;
			}
		}
		.benefit-desc {
			font-size: 1.25rem;
		}
	}
	#locations {
		.location-title {
			text-align: center;
			margin-left: 0;
			position: relative;
			&::after {
				display: none;
			}
		}
	}
	#partners {
		.partner-title {
			text-align: center;
			margin-left: 0;
			position: relative;
			&::after {
				display: none;
			}
		}
	}
	#contacts {
		.contact-title {
			text-align: center;
			margin-left: 0;
			position: relative;
			&::after {
				display: none;
			}
		}
	}
	#registration {
		.registration-title {
			text-align: center;
			margin-left: 0;
			position: relative;
			&::after {
				display: none;
			}
		}
		.registration-content {
			padding: 0;
			background-color: $primary-orange;
			color: white;
		}
	}
}
